# Executables
*.exe
*.app
*.gitignore
*.sh

# Temp Runner
tempCodeRunnerFile.cpp
tempCodeRunnerFile.exe

# Vim
*.swo
*.swp

# Problem Setting
/Prob_Setting/*
/Prob_Setting/

/3nhypercube.cpp
/parse_edge.cpp
/right.txt
/left.txt